<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ adminLogin }}</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">ACCUEIL</li>
            <li {{ (app.request.attributes.get('_route') == 'admin_site_dashboard') ? ' class="active treeview"' }}>
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>Tableau de bord</span>
                </a>
            </li>
            <li class="header">ADMINISTRATION</li>
            <li {{ (app.request.attributes.get('_route') == 'admin_site_vsps') ? ' class="active treeview"' }}>
                <a href="{{ path('admin_site_vsps') }}">
                    <i class="fa fa-car"></i> <span>Voitures sans permis</span>
                </a>
            </li>
            <li {{ (app.request.attributes.get('_route') == 'admin_site_articles') ? ' class="active treeview"' }}>
                <a href="#">
                    <i class="fa fa-book"></i> <span>Articles de blog</span>
                </a>
            </li>
            <li {{ (app.request.attributes.get('_route') == 'admin_site_articles') ? ' class="active treeview"' }}>
                <a href="#">
                    <i class="fa fa-building-o"></i> <span>Agences partenaires</span>
                </a>
            </li> 
            <li {{ (app.request.attributes.get('_route') == 'admin_site_articles') ? ' class="active treeview"' }}>
                <a href="#">
                    <i class="fa fa-euro"></i> <span>Données financières</span>
                </a>
            </li>
             <li class="header">COMPTE</li>
            <li {{ (app.request.attributes.get('_route') == 'admin_site_articles') ? ' class="active treeview"' }}>
                <a href="#">
                    <i class="fa fa-user"></i> <span>Profil</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
