{% extends 'useradmin/admin_base.html.twig' %}

{% block body %}
    <body class="hold-transition login-page">
        <div class="login-box">
            <div class="login-logo">
                <b>MonVsp.com</b> Administration
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Entrez vos données pour accèder au panneau d'administration</p>

                {{ form_start(form)}}
                <div class="form-group has-feedback">
                    {{form_widget(form.mail, {'attr': {'class': 'form-control', 'placeholder':'E-mail'}}) }}
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    {{form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Mot de passe'}}) }}
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    {{ form_errors(form.password) }}
                </div>
                {% for label, flashes in app.session.flashbag.all %}
                    {% for flash in flashes %}
                        <div class="alert alert-{{ label }}">
                            {{ flash }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="row">
                    <div class="col-xs-8">
                        <a href="#">Mot de passe oublié ?</a><br>
                        <a href="{{ path('admin_site_new') }}" class="text-center">Enregistrer un nouvel admin</a>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat formnovalidate">Connexion</button>
                    </div>
                    <!-- /.col -->
                </div>
                {{ form_end(form) }}



            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

        {% block javascripts %}
            {% javascripts 
            '@admin_js'
            '@admin_plugins'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

            <!-- Google-Font-->
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" >
            {% endjavascripts %}
        {% endblock %}
    </body>
{% endblock%}

